@import "../../styles/variable";
.products-container {
  background-color: transparent;
  width: 100%;
  .pagination {
    background-color: $gray;
    @include flexCol(center, center);
    width: 100%;
    height: 25vh;
    h1 {
      font-family: $muli;
      margin-bottom: 1rem;
      text-align: center;
    }
    span {
      font-family: $openSan;
      .link {
        text-decoration: none;
        color: #222222;
      }
    }
    .span {
      margin: 0 1rem;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 21rem 1fr;
    grid-template-rows: repeat(1, 85rem);
    gap: 2rem;
    padding: 5rem 8.5rem;
    .filter {
      background-color: transparent;
      ul {
        list-style: none;
      }

      .box {
        margin: 0 0 4rem 0;
        .category-title {
          font-family: $muli;
          width: 100%;
          border-bottom: 0.1px solid rgb(231, 231, 231);
          padding-bottom: 0.5rem;
          margin: 0 0 1em 0;
        }
        .best-seller-wrapper {
          user-select: none;
          @include flexRow(center, center);
          overflow: hidden;
          position: relative;
          .fas {
            position: absolute;
            z-index: 2;
            cursor: pointer;
            font-size: 1.6rem;
            color: #9d9d9d;
            top: 6rem;
          }
          .fa-chevron-left {
            left: 1rem;
          }

          .fa-chevron-right {
            right: 1rem;
          }
          .slide {
            opacity: 0;
            transition-duration: 1s ease;
            text-align: center;
          }

          .active {
            opacity: 1;
            transition-duration: 1s;
          }
        }
        .checkbox-wrapper {
          @include flexCol(start, start);
          .container {
            padding: 0;
            color: $gray-text;
            font-family: $openSan;
            margin: 0 0 0.5rem 0;
            input {
              margin-right: 0.5em;
            }
          }
        }
      }
      .category {
        .cate-list {
          .cate-link {
            font-family: $openSan;
            text-decoration: none;
            color: $footer-bg;
            li {
              margin-top: 1rem;
              span {
                float: right;
              }
            }
          }
        }
      }
      .color {
        .colors {
          @include flexRow(start, center);
          .fas {
            font-size: 2rem;
            border: none;
            margin-right: 1rem;
            cursor: pointer;
          }
          #color-1 {
            color: #2596be;
          }
          #color-2 {
            color: rgb(238, 238, 228);
          }
          #color-3 {
            color: #e65050;
          }
          #color-4 {
            color: #7a7a7a;
          }
        }
      }

      .size {
        .sizes {
          @include flexRow(start, center);
          p {
            border: 2px solid rgb(211, 211, 211);
            width: 2rem;
            text-align: center;
            font-family: $openSan;
            margin-right: 1rem;
            cursor: pointer;
          }
        }
      }
    }

    .cards-container {
      .sort {
        background-color: #f2f2f2;
        font-family: $openSan;
        border: 1px solid #f2f2f2;
        height: 4rem;
        @include flexRow(space-between, center);
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        .sort-feature {
          @include flexRow(center, center);
          p {
            span {
              select {
                outline: none;
                height: 2.3rem;
                border: 0.1px solid rgb(220, 220, 220);
                margin-left: 0.5rem;
                option {
                  color: $gray-text;
                }
              }
            }
            margin-left: 1.5rem;
          }
        }
      }
      .items {
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 3rem 2rem;
        justify-items: center;
      }
    }
  }
}
